
.post {

	margin: 0 0 0 @sidebarAssumedWidth;
	overflow: auto;
	padding: @gutter;
	font-family: @postFontFamily;
}

.post-header {
	margin: 0 0 @gutter;
	&,
	& .header{
		font-weight: normal;
		font-family: @postFontFamily;
	}
}

.post-body {
	height: 450px;
	-webkit-column-width: 350px;
	* {
		margin: @gutter 0 0;
	}

	.header + p,
	p:first-child{
		margin: 0;
	}

	p:first-child:first-letter {
		font-size: @textSize * 3.5;
		float: left;
		line-height: 0.8;
		padding-top: 3px;
		padding-right: 5px;
	}
}

.post-footer {
	//style differently (color, etc)
}